<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"><![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"><![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"><![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"><!--<![endif]-->
<head>
    <meta charset="utf-8">
    <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge"><![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Resumen de revisión de trabajos de investigación</title>

    <!-- Favicons -->
    <!-- <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../public/assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="shortcut icon" href="../public/assets/ico/favicon.ico"> -->

    <!-- CSS Global -->
    <link href="../public/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../public/assets/plugins/fontawesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="../public/assets/plugins/bootstrap-select/bootstrap-select.min.css" rel="stylesheet">
    <link href="../public/assets/plugins/owlcarousel2/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="../public/assets/plugins/owlcarousel2/assets/owl.theme.default.min.css" rel="stylesheet">
    <link href="../public/assets/plugins/prettyphoto/css/prettyPhoto.css" rel="stylesheet">
    <link href="../public/assets/plugins/animate/animate.min.css" rel="stylesheet">
    <link href="../public/assets/plugins/countdown/jquery.countdown.css" rel="stylesheet">

    <link href="../public/assets/css/theme.css" rel="stylesheet">
    <link href="../public/assets/css/custom.css" rel="stylesheet">

    <!-- CSS Customize by Cheko or Ale!-->
    <link href="../public/css/resumen_revision_ti.css" rel="stylesheet">


    <!--[if lt IE 9]>
    <script src="assets/plugins/iesupport/html5shiv.js"></script>
    <script src="assets/plugins/iesupport/respond.min.js"></script>
    <![endif]-->
</head>
<body id="home" class="wide body-light">

<!-- Preloader -->
<div id="preloader">
    <div id="status">
        <div class="spinner"></div>
    </div>
</div>

<!-- Wrap all content -->
<div class="wrapper">

    <!-- HEADER -->

    <!-- /HEADER -->

    <!-- Content area -->
    <div class="content-area">
        <div id="main">
          <section class="page-section othercss" id="about">
              <div class="container">
                  <h1 class="section-title">
                      <span data-animation="flipInY" data-animation-delay="300" class="icon-inner"><span class="fa-stack"><i class="fa rhex fa-stack-2x"></i><i class="fa fa-star fa-stack-1x"></i></span></span>
                      <span data-animation="fadeInRight" data-animation-delay="500" class="title-inner">Resumen de revisión de trabajos de investigación</span>
                  </h1>
              <div>
          </section>
          <section id="resumen">
            <div class="container">
              <section class="row">
                  <section id="column1">
                    <h3>Trabajos de investigación</h3>
                    <img id="grafica1" src="../public/img/resumen1.png" alt="">
                    <p style="color:whitesmoke;">Muy bueno 60% </p>
                    <p style="color:whitesmoke;">Bueno 50% </p>
                    <p style="color:whitesmoke;">Regular 30% </p>
                    <p style="color:whitesmoke;">Malo 20% </p>
                    <p style="color:whitesmoke;">Muy malo 10% </p>
                  </section>
                  <section id="column2">
                    <h3>Revisores</h3>
                    <section class="row">
                      <div class="tarjeta">
                        <div class="circulos pull-left">
                            <img src="../public/img/imagen.jpg" alt="" class="media-object" />
                        </div>
                        <p class="nombreR">Sergio Amaro Rosas</p>
                      </div>
                      <div class="tarjeta">
                        <div class="circulos pull-left">
                            <img src="../public/img/imagen.jpg" alt="" class="media-object" />
                        </div>
                        <p class="nombreR">Sergio Amaro Rosas</p>
                      </div>
                      <div class="tarjeta">
                        <div class="circulos pull-left">
                            <img src="../public/img/imagen.jpg" alt="" class="media-object" />
                        </div>
                        <p class="nombreR">Sergio Amaro Rosas</p>
                      </div>
                    </section>
                    <section class="row">
                      <div class="tarjeta">
                        <div class="circulos pull-left">
                            <img src="../public/img/imagen.jpg" alt="" class="media-object" />
                        </div>
                        <p class="nombreR">Sergio Amaro Rosas</p>
                      </div>
                      <div class="tarjeta">
                        <div class="circulos pull-left">
                            <img src="../public/img/imagen.jpg" alt="" class="media-object" />
                        </div>
                        <p class="nombreR">Sergio Amaro Rosas</p>
                      </div>
                      <div class="tarjeta">
                        <div class="circulos pull-left">
                            <img src="../public/img/imagen.jpg" alt="" class="media-object" />
                        </div>
                        <p class="nombreR">Sergio Amaro Rosas</p>
                      </div>
                    </section>
                    <section class="row">
                      <div class="tarjeta">
                        <div class="circulos pull-left">
                            <img src="../public/img/imagen.jpg" alt="" class="media-object" />
                        </div>
                        <p class="nombreR">Sergio Amaro Rosas</p>
                      </div>
                      <div class="tarjeta">
                        <div class="circulos pull-left">
                            <img src="../public/img/imagen.jpg" alt="" class="media-object" />
                        </div>
                        <p class="nombreR">Sergio Amaro Rosas</p>
                      </div>
                      <div class="tarjeta">
                        <div class="circulos pull-left">
                            <img src="../public/img/imagen.jpg" alt="" class="media-object" />
                        </div>
                        <p class="nombreR">Sergio Amaro Rosas</p>
                      </div>
                    </section>
                    <section class="row">
                      <div class="tarjeta">
                        <div class="circulos pull-left">
                            <img src="../public/img/imagen.jpg" alt="" class="media-object" />
                        </div>
                        <p class="nombreR">Sergio Amaro Rosas</p>
                      </div>
                      <div class="tarjeta">
                        <div class="circulos pull-left">
                            <img src="../public/img/imagen.jpg" alt="" class="media-object" />
                        </div>
                        <p class="nombreR">Sergio Amaro Rosas</p>
                      </div>
                      <div class="tarjeta">
                        <div class="circulos pull-left">
                            <img src="../public/img/imagen.jpg" alt="" class="media-object" />
                        </div>
                        <p class="nombreR">Sergio Amaro Rosas</p>
                      </div>
                    </section>
                    <section class="row">
                      <div class="tarjeta">
                        <div class="circulos pull-left">
                            <img src="../public/img/imagen.jpg" alt="" class="media-object" />
                        </div>
                        <p class="nombreR">Sergio Amaro Rosas</p>
                      </div>
                      <div class="tarjeta">
                        <div class="circulos pull-left">
                            <img src="../public/img/imagen.jpg" alt="" class="media-object" />
                        </div>
                        <p class="nombreR">Sergio Amaro Rosas</p>
                      </div>
                      <div class="tarjeta">
                        <div class="circulos pull-left">
                            <img src="../public/img/imagen.jpg" alt="" class="media-object" />
                        </div>
                        <p class="nombreR">Sergio Amaro Rosas</p>
                      </div>
                    </section>
                  </section>
              </section>
              <section class="row">
                <section id="column3">
                  <h3>Trabajos de investigación por las evaluaciones</h3>
                  <section id="graficas">
                    <img src="../public/img/resumen2.png" alt="" class="media-object" />
                    <img src="../public/img/resumen3.png" alt="" class="media-object" />
                  </section>
                </section>
              </section>
            </div>
          </section>
        </div>
    </div>
    <!-- /Content area -->
    <footer class="footer">
        <div class="footer-meta">
            <div class="container text-center">
                <div class="clearfix">
                    <ul class="social-line list-inline">
                        <li data-animation="flipInY" data-animation-delay="100"><a href="#" class="twitter"><i class="fa fa-twitter"></i></a></li>
                        <li data-animation="flipInY" data-animation-delay="200"><a href="#" class="dribbble"><i class="fa fa-dribbble"></i></a></li>
                        <li data-animation="flipInY" data-animation-delay="300"><a href="#" class="facebook"><i class="fa fa-facebook"></i></a></li>
                        <li data-animation="flipInY" data-animation-delay="400"><a href="#" class="google"><i class="fa fa-google-plus"></i></a></li>
                        <li data-animation="flipInY" data-animation-delay="500"><a href="#" class="instagram"><i class="fa fa-instagram"></i></a></li>
                        <li data-animation="flipInY" data-animation-delay="600"><a href="#" class="pinterest"><i class="fa fa-pinterest"></i></a></li>
                        <li data-animation="flipInY" data-animation-delay="700"><a href="#" class="skype"><i class="fa fa-skype"></i></a></li>
                    </ul>
                </div>
                <span class="copyright" data-animation="fadeInUp" data-animation-delay="100">&copy; 2014 im Event &#8212; An One Page Event Manager Theme made with passion by jThemes Studio</span>
            </div>
        </div>
    </footer>
</div>
<!-- /Wrap all content -->

<!-- JS Global -->

<!--[if lt IE 9]><script src="assets/plugins/jquery/jquery-1.11.1.min.js"></script><![endif]-->
<!--[if gte IE 9]><!--><script src="../public/assets/plugins/jquery/jquery-2.1.1.min.js"></script><!--<![endif]-->
<script src="../public/assets/plugins/modernizr.custom.js"></script>
<script src="../public/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
<script src="../public/assets/plugins/bootstrap-select/bootstrap-select.min.js"></script>
<script src="../public/assets/plugins/superfish/js/superfish.js"></script>
<script src="../public/assets/plugins/prettyphoto/js/jquery.prettyPhoto.js"></script>
<script src="../public/assets/plugins/placeholdem.min.js"></script>
<script src="../public/assets/plugins/jquery.smoothscroll.min.js"></script>
<script src="../public/assets/plugins/jquery.easing.min.js"></script>

<!-- JS Page Level -->
<script src="../public/assets/plugins/owlcarousel2/owl.carousel.min.js"></script>
<script src="../public/assets/plugins/waypoints/waypoints.min.js"></script>
<script src="../public/assets/plugins/countdown/jquery.plugin.min.js"></script>
<script src="../public/assets/plugins/countdown/jquery.countdown.min.js"></script>

<script src="../public/assets/js/theme-ajax-mail.js"></script>
<script src="../public/assets/js/theme.js"></script>
<script src="../public/assets/js/custom.js"></script>

<script type="text/javascript">
    jQuery(document).ready(function () {
        theme.init();
    });

    jQuery(document).ready(function () { theme.onResize(); });
    jQuery(window).load(function(){ theme.onResize(); });
    jQuery(window).resize(function(){ theme.onResize(); });

</script>

</body>
</html>
